includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - a-venir.php
        - accueil-guide-nature.php
        - accueil-reiki.php
        - animations.php
        - balades.php
        - faq.php
        - footer.php
        - front-page.php
        - functions.php
        - header.php
        - index.php
        - le-reiki.php
        - me-contacter.php
        - menu-nature.php
        - menu-reiki.php
        - prendre-rendez-vous-reiki.php
        - qui-suis-je.php
        - reserver.php
        - soins-reiki.php